
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 



# HTID:6499602: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:6499602:







# HTID:6519289: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
deny from 208.70.74.17
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:6519289:


